.form-control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;


}


.form-control label,
.form-control input{
    display:block;
 
}
.form-control label{
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
}

.form-control input{
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    
}

.form-control input:focus{
    outline:none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.form-control.invalid input{
    border-color: red;
    background: #fbdada;
}



@media screen and  ( min-width: 768px)
{

    .form-control{
        display: flex;
        flex-direction: row;

    }
}